replicaCount: 3

image:
  repository: nginx
  tag: "1.25"
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80

container:
  port: 80

resources:
  limits:
    cpu:
    memory: 512Mi
  requests:
    cpu:
    memory: 256Mi

frontend:
  replicaCount: 3
  image:
    repository: nginx
    tag: "1.25"
    pullPolicy: Always
  service:
    type: LoadBalancer
    port: 80
  container:
    port: 80
  resources:
    limits:
      cpu:
      memory: 512Mi
    requests:
      cpu:
      memory: 256Mi

backend:
  replicaCount: 3
  image:
    repository: node
    tag: "18-alpine"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 3000
  container:
    port: 3000
  resources:
    limits:
      cpu:
      memory: 1Gi
    requests:
      cpu:
      memory: 512Mi
