replicaCount: 2

image:
  repository: node
  tag: "18-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

container:
  port: 3000

resources:
  limits:
    cpu: 
    memory: 512Mi
  requests:
    cpu: 150m
    memory: 256Mi
